/* add css module styles here (optional) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.container {
  width: 200px;
  height: 50px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.dropdown {
  background: rgb(231, 231, 231);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  border-radius: 5px;
  display: flex;
  height: 80%;
  width: 100px;
  position: relative;
  padding: 0 10px;
  align-items: center;
  cursor: pointer;
}

.dropdown_items_wrapper {
  position: relative;
  margin-top: 18px;
  transition: all 0.5s;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.dropdown_items {
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
}

.input_wrapper {
  margin: 10px;
  padding-top: 10px;
  position: relative;
}

.country_search {
  outline: none;
  border: none;
  border-radius: 3px;
  background: #f0f0f0;
  padding: 5px;
  width: 94%;
}

.country_search::placeholder {
  font-family: 'Poppins';
  font-size: 13px;
  color: rgb(168, 168, 168);
}

/* width */
.dropdown_items::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.dropdown_items::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.dropdown_items::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
.dropdown_items::-webkit-scrollbar-thumb:hover {
  background: #696969;
}


.dropdown_item {
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
}

.dropdown_item_title {
  margin-left: 15px;
  margin-top: -2px;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #484848;
}

.selected_country {
  font-size: 15px;
  font-weight: 500;
  color: #484848;
  margin-left: 15px;
}

.country_flag {
  height: 15px;
  width: 22px;
  border-radius: 2px;
}